In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv(r'C:\Users\acer\Desktop\Py-Fin\Fin_data\Fin_data\Data\SharpeRatio\new\DRREDDY__GLENMARK.csv')

In [10]:
tn=df.columns[2]
tn[:-5]

'DRREDDY'

In [11]:
cname=tn[:-5]

In [14]:
df['Dates']

0      2023-07-03
1      2023-07-04
2      2023-07-05
3      2023-07-06
4      2023-07-07
          ...
241    2024-06-27
242    2024-06-28
243    2024-07-01
244    2024-07-02
245    2024-07-03
Name: Dates, Length: 246, dtype: object

In [12]:
tdf=pd.read_csv(fr'C:\Users\acer\Desktop\Py-Fin\Fin_data\Fin_data\Data\Merged Scores\{cname}.csv')

,DateTime,DRREDDY - Trendlyne Momentum Score,DRREDDY - Trendlyne Valuation Score
0,03-06-2014,48.44,NaN
1,04-06-2014,47.29,NaN
2,05-06-2014,47.18,NaN
3,06-06-2014,45.37,21.17
4,09-06-2014,45.45,NaN
...,...,...,...
2464,27-05-2024,46.48,48.50
2465,28-05-2024,54.46,47.83
2466,29-05-2024,52.94,47.33
2467,30-05-2024,52.33,47.83
2468,31-05-2024,52.66,48.83

In [17]:
def scr_retrival(cname,dlist,date_format='%d-%m-%Y'):
    
    
    
    '''
    This function retrieves the data for scores from the merged and make sure the Data integrity is intact.
    It matched dates and all
    
    
    
    '''
    
    try:
        x2df=pd.read_csv(fr'C:\Users\acer\Desktop\Py-Fin\Fin_data\Fin_data\Data\Merged Scores\{cname}.csv')
        # x2df=pd.read_csv(f'Data\Merged Scores\{cname}.csv')
        # print(x2df)
        print("Ran till here")
        x2df['DateTime'] = pd.to_datetime(x2df['DateTime'], format=date_format)

        dlist = pd.to_datetime(dlist, format=date_format)
        
        dates_df = pd.DataFrame(dlist, columns=['DateTime'])

        # Merge the dates_df with x2df to ensure all dates from dlist are included
        filtered_df = pd.merge(dates_df, x2df, on='DateTime', how='left')
        filtered_df['DateTime'] = filtered_df['DateTime'].dt.strftime(date_format)
        # filtered_df = x2df[x2df['DateTime'].isin(dlist)]
        filtered_df=filtered_df.iloc[:,1:]
        return filtered_df

    except Exception as e: 
        print(f'Issue in finding {cname} merged file.\n Reason Being -> {e}')
        return None

In [18]:
dlis=df['Dates']

In [19]:
findf=scr_retrival(cname,dlis)

Ran till here
Issue in finding DRREDDY merged file.
 Reason Being -> time data "2023-07-03" doesn't match format "%d-%m-%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.